@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.expense {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
}

.expense h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35vw;
    font-size: 5vh;
}

#expense-form {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 35vw;
}

#amount-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#amount-inputs {
    display: flex;
    flex-direction: row;
}

#amount-inputs input {
    margin-right: 2vw;
}

#amount-inputs select {
    height: 2.75vh;
    width: 7.5vw;
    min-width: 90px;
}