@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


#expense-card {
    font-family: 'Roboto-Condensed', 'sans-serif';
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    box-shadow: 1px 2px 2px grey;
    border-top: none;
    border-left: none;
    padding: 5px;
    margin-top: 5vh;
    width: 20vw;
}

p {
    margin: .5vh;
}

#top-section {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#top-section button {
    border-radius: 5px;
    color: white;
    background-color: black;}


#modal {
    border: solid 1px grey;
    box-shadow: 1px 2px 2px #6c0e15;
    border-top: none;
    border-left: none;
    padding: 5px;
    z-index: 100;
    background-color: white;
    margin-bottom: -7.5vh;
}

#modal button {
    margin-right: .5vw;
    border-radius: 30px;
    width: 7.5vw;
    color: black;
    background-color: white;
}

#modal button:hover {
    margin-right: .5vw;
    border-radius: 30px;
    width: 7.5vw;
    color: white;
    background-color: black;
}