@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


#expense-card {
    font-family: 'Roboto-Condensed', 'sans-serif';
    border: solid 1px grey;
    box-shadow: 1px 2px 2px grey;
    border-top: none;
    border-left: none;
    border-radius: 30px;
    padding: 5px;
    margin-top: 5vh;
    width: 20vw;
}

#card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p {
    margin: .5vh;
}

#left-section {
    display: flex;
    align-content: left;
}

#dropdown-button {
    height: 2.5vh;
    width: 5vw;
    background-color: white;
    border-radius: 30px;
    border-width: 2px;
}

#delete-button {
    border-radius: 5px;
    color: white;
    border-width: 0px;
    height: 50%;
    width: 30%;
    margin-top: 10%;
    background-image: linear-gradient(to right, #c60f11 0%, #ee0507 51%, #ee0507 100%)
}

#update-button {
    border-radius: 5px;
    color: white;
    border-width: 0px;
    height: 50%;
    width: 70%;
    margin-top: 10%;
    background-image: linear-gradient(to right, #0fa857 0%, #219b5c 51%, #16613a 100%)
}

#center-section {
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: -25%;
}

#right-section {

}

#modal {
    border: solid 1px grey;
    box-shadow: 1px 2px 2px #6c0e15;
    border-top: none;
    border-left: none;
    padding: 5px;
    z-index: 100;
    background-color: white;
    margin-bottom: -7.5vh;
}

#modal button {
    margin-right: .5vw;
    border-radius: 30px;
    width: 7.5vw;
    color: black;
    background-color: white;
}

#modal button:hover {
    margin-right: .5vw;
    border-radius: 30px;
    width: 7.5vw;
    color: white;
    background-color: black;
}