@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

#overview {
    font-family: 'Roboto-Condensed', 'sans-serif';
}

#overview h1 {
    display: flex;
    justify-content: center;
}

#expense-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5vw;
    margin-right: 5vw;
}