body {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

label {
    margin-bottom: .5vh;
}

input {
    margin-bottom: 2.5vh;
}

h1 {
    font-size: 10vh;
}